*{
    margin:0px;padding:0px;text-decoration: none;list-style: none;list-style-type:none;
}

.topbar{
    width: 100%;
    height: 2em;
    background-color: #f9f9f9;
    border-bottom:1px solid #eaeaea;
}
.pull-right{
    width:15em;
    line-height:2em;
}
.pull-right a{
    padding:0 1em;
    color: #999;
}
.split-icon{
    width:0;
    height:0;
    border-left: 1px solid #e0e0e0;
}


/*投票css*/
.clear{
    clear: both;
}
.slide_banner{
    margin-bottom: 0 !important;
}
.slide_banner .carousel-indicators{
    position: absolute;
    top: 10.5rem;
    right: 10rem;
}
.slide_banner .carousel-control{
    display: none;
}
.count_number{background-color:#f0e1ca;}
.count_number ul{
    background-color: #f0e1ca;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
    margin-bottom: 0;
}
.count_number ul li{
    float: left;
    padding: 0 6.5%;
    text-align: center;
}

.countdown{
    background-color: #8d604d;
    color: #e6cbab;
    padding: 0.8rem 0rem;
}
.countdown ul li{
    float: left;
    padding-left: 0.5rem;
    font-size: 1.1rem;
}
.countdown ul li.clock{
    width: 3rem;
    height: 3rem;
    background: #8d604d url(http://test2.tt.lanrenmb.com/Home/Tpl/Index/c2/c.png) no-repeat 0 center;
    background-size: 3rem 3rem;
}

.containers{
    max-width: 32rem;
    background-color: #f0e1ca;
    overflow: hidden;
    padding-bottom: 4rem;
}
div.search{
    width: 100%;
    height: 9rem;
    background-color: #fff;
    position: fixed;
    bottom: 74%;
    display: none;
    z-index: 9999;
    padding-top: 2rem;
}
div.apply_for{
    width: 100%;
    height: 11rem;
    background-color: #fff;
    position: fixed;
    bottom: 38%;
    display: none;
    z-index: 9999;
    padding-top: 2rem;
}
div.apply_for form.form-horizontal{
    padding-left: 2.5rem;
}
div.apply_for form.form-horizontal div.form-group{
    line-height: 2.4rem;
}
div.apply_for .form-horizontal .form-group label{
    width: 4rem;
    display: inline-block;
}
div.apply_for .form-horizontal .form-group input{
    border-radius: 2rem;
}
div.apply_for .form-horizontal div.sub_apply{
    text-align: center;
}
div.apply_for .form-horizontal div.sub_apply input{
    width: 86%;
    line-height: 2.2rem;   
    margin-top: 0.8rem;
    background: #2ac845;
    border-style: none;
    color: #fff;
    font-size: 16px;
    margin-left: -3rem;
}
div.search p{
    text-align: center;
}
.containers div.introduce div{
    border-bottom: 0.5px solid #8d604d;
    color: #8d604d;
    padding: 0.2rem;
}
.containers div.introduce span{
    padding-right: 0.5rem;
}
.containers div.list{
    padding-top: 0.5rem;
}
.containers div.list div.ls_tp{
    margin-bottom: 5px;
    float: left;
    width: 42%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background: #fff;
    text-align: center;
    border: 0.3rem solid #fff;
}
.containers div.list div.ls_tp div.username{
    background-color: #f1f1f1;
    line-height: 1.6rem;
    color: #929091;
}
.containers div.list div.ls_tp div.toup{
    position: relative;
    margin-top: 0.5rem;
}
.containers div.list div.ls_tp div.toup .toup_float{
    float: left;
    margin-right: 0.5rem;
    display: inline-block;
}
.containers div.list div.ls_tp div.toup span.like{
    background: url(../img/like.png) no-repeat left top;
    position: absolute;
    left: -6px;
    top: -4px;
    background-size: 1.5rem auto;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    z-index: 1;
}
.containers div.list div.ls_tp div.toup button{
    width: 4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background: none repeat scroll 0 0 #f0e1ca;
    font-size: 16px;
    color: #8d604d;
    border-radius: 6px;
    border: 0px solid #f0e1ca;
    font-style: italic;

}
.containers div.list div.ls_tp div.toup span.p_num{

    color: #06f;
}

.containers div.list div.ls_tp div.toup span.p_play{
    font-size: 12px;
}

.footer{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    bottom: 0rem;
    background-color: #32394a;
    z-index: 100;
}
.footer nav{
    transition-duration: .4s;
    box-shadow: 0 0 10px 0 rgba(155,143,143,0.6);
    -webkit-box-shadow: 0 0 10px 0 rgba(239, 229, 229, 0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(239, 229, 229, 0.6);
}
.footer nav a{
    float: left;
    display: inline-block;
    width: 20%;
    text-align: center;
    color: #fff;
    font-size: 0.5em;
}


/*排行榜cdd*/
.containers table{
    width: 100%;
    border-collapse:collapse;
}
.containers tt.t_title{
    height: 1.5rem;
    line-height: 2.5rem;
}
.containers table th,table td{    
    border:1px solid #efefef;    
}

.containers table th{
    height: 1rem;
}